<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="updatetwo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <updatetwo.Properties.Settings>
      <setting name="isRunning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mainAimKey" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="isHold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="isAimKey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="monitor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="offsetY" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="msShootTime" serializeAs="String">
        <value>130</value>
      </setting>
      <setting name="voiceenabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="voicerate" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="voicevolume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="weapon1key" serializeAs="String">
        <value>49</value>
      </setting>
      <setting name="weapon2key" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="noweaponkey" serializeAs="String">
        <value>51</value>
      </setting>
      <setting name="pickweaponkey" serializeAs="String">
        <value>69</value>
      </setting>
      <setting name="colorvari" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="antishake" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="antishakelvl" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ultimatekey" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="reloadkey" serializeAs="String">
        <value>82</value>
      </setting>
      <setting name="seeraa" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bloodhaa" serializeAs="String">
        <value>False</value>
      </setting>
    </updatetwo.Properties.Settings>
  </userSettings>
</configuration>